@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

code {
  font-family: "Poppins", sans-serif;
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(58, 53, 65, 0.12);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(58, 53, 65, 0.12);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 53, 65, 0.12);
}

/* Custom chip css */
.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(100, 100, 111, 0.2);
  justify-content: space-between;
  align-items: center;
}

.switch-toggle {
  margin-left: 15px;
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: '';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 6px;
  left: 8px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, .5),
    3px 3px 5px rgba(0, 0, 0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: '';
  color: #fff;
  background-color: #00b33c;
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, .5),
    3px 3px 5px #00b33c; */
}

/* chart */

#totalProjectChart .apexcharts-legend-series {
  border-radius: .125rem;
  /* border: 1px solid rgb(226 232 240); */
  padding: .25rem .5rem;
}

[data-vc=calendar] {
  padding: 0 !important;
}

[data-vc-theme=light].vc,
[data-vc-theme=dark].vc {
  background-color: transparent !important;
}

[data-vc-theme=light] .vc-date__btn,
[data-vc-theme=dark] .vc-date__btn {
  background: none !important;
}